# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Composer / PHP
/vendor/
composer.phar

# Node
/node_modules/

# Environment variables
.env
.env.*

# Logs, caches, temp
*.log
cache/
tmp/

# TCPDF temp files (if any)
TCPDF-main/cache/
TCPDF-main/_tcpdf_temp/

# Windows thumbnail files
Thumbs.db

# Other
*.local
